USE [master]
GO
/****** Object:  Database [NORTHWND]    Script Date: 4/24/2020 11:03:00 PM ******/
CREATE DATABASE [NORTHWND]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NORTHWND', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NORTHWND.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NORTHWND_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NORTHWND_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NORTHWND].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NORTHWND]
GO
/****** Object:  User [NORTHWND]    Script Date: 4/24/2020 11:03:00 PM ******/
CREATE USER [NORTHWND] FOR LOGIN [NORTHWND] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NORTHWND]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 4/24/2020 11:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nchar](20) NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [Descripcion]) VALUES (1, N'Categoria           ')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
USE [master]
GO
